@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: beige;
  color: rgb(0, 0, 0);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  background-color:black;
  color: white;
}
.brand{
  margin-top: -0.2vw;
  font-size: 3vw;
}
.brand span{
  color: gold;
  font-size: 6vw;
}
.menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-top: 10px;
}
.menu a {
  color:white;
  font-size: 2vw;
  text-decoration: none;
  padding: 1vw 1vw;
  border-radius: 45%;
  font-family: 'Comic Neue', cursive;
}
.menu a:hover {
  background-color:beige;
  color: gold;
  transition:ease .7s;
}
.menu li {
  list-style: none;
}
.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-content: center;

}
.info h1 {
  font-size: 3vw;
  padding-top: 1vw;

}
.info{
  margin-right: 15vw;
}
.info p{
  padding-top: 1vw;
  font-size: 1.3vw;
  font-family: 'Comic Neue', cursive;
  margin-bottom: 3vw;
}
span {
  color: gold;
}
.more{
  padding: 0.8vw 1.7vw;
  background-color:gold;
  border: none;
  border-radius: 1.7vw;
  font-size: 1.5vw;
  margin-top: 0.6vw;
  cursor: pointer;
  box-shadow: 1vw 1vw 1.7vw -1vw black ;

}
.imagen_home{
  width: 18.7vw;
  border: 7px solid gold;
  height: 24.4vw;
  margin-top: 5vw;
}

.imagen_about{
  width: 30vw;
  border: 7px solid gold;
  height: 24.4vw;
  margin-top: 5vw;
}
span {
  color: gold;
}
.divider{
  height: 0.4vw;
  width: 9vw;
  background-color: black;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.items-foot img{
  width: 3vw;
}
.items-foot{
  display: flex;
  justify-content:space-around;
  background-color: gold;
}
.name-foot{
  display: flex;
  justify-content: center;
  color:black ;
  background-color: gold;
  font-size: 2vw;
  font-family: 'Comic Neue', cursive;
}
.logo-etrr{
  width: 15vw;
  height: 15vw;
  background-size: cover;
  margin-left: 0vw;
  margin-top: 3vw;
  border: 7px solid gold;
}

.about-info-contact{
  margin-top: 1vw;
}
.about-info-contact h2 {
  font-size: 3vw;
  padding-top: 1vw;
}
.about-info-contact p{
  padding-top: 0.2vw;
  font-size: 2vw;
  font-family: 'Comic Neue', cursive;
  margin-bottom: 1vw;
}

  .contact h1 {
    font-size: 3vw;
    padding-top: 1vw;
  }
  .contact{
    margin-right: 15vw;
  }
  .contact p{
    padding-top: 1vw;
    font-size: 1.3vw;
    font-family: 'Comic Neue', cursive;
    margin-bottom: 3vw;
  }
  .mail{
    margin-top: 1vw;
    width: 10vw;
    height: 10vw;
  }
  .whatsapp{
    width: 10vw ;
    height: 10vw;
  }



@media( max-width:680px){
  .brand{
    font-size: 5vw;
  }
  .menu a {
    font-size: 1vw;
    padding: 1.1vw 0.7vw;
    border-radius: 45%;
    margin-bottom: 0.5vw;
  }
  .brand span {
    font-size: 10vw;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  .navbar{
    display: flex;
    flex-direction: column;
    font-size: 5vw;
  }
  .menu a{
    font-size: 4vw;
  }
  .menu{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding:10vw ;
    margin-top: -5vw;
    margin-bottom: -5vw;
  }
  .info h1 {
    margin-top: 3vw;
    font-size: 12vw;

  }
  .info p{
    padding-top: 3vw;
    font-size: 5vw;
    font-family: 'Comic Neue', cursive;
    padding-bottom: 3vw;
  }
  .imagen_home{
    width: 50vw;
    border: 7px solid gold;
    height: 50vw;
  }
  .imagen_about{
    width: 50vw;
    height: 25vw;
    margin-top: 5vw;
  }
  .name-foot{
    font-size: 5vw;
  }
  .items-foot img{
    width: 10vw;
  }
  .more{
    font-size: 5vw;
  }
  .logo-etrr{
    width: 30vw;
    height: 30vw;
  }
  .divider{
    width: 30vw;
    height: 0.3vh;
  }
  .mail{
    margin-top: 2vw;
    width: 20vw;
    height: 20vw;
  }
  .whatsapp{
    width: 20vw ;
    height: 20vw;
  }


}

